
<!--<div class="categories">
    <h2>Categories</h2>
    <ul>
      <li *ngFor="let category of categoryList">
        {{ category.categoryName }}
      </li>
    </ul>
  </div>!-->

 <!--<div class="products">
    <h2>Products</h2>
    <ul>
      <li *ngFor="let product of productList">
        <h3>{{ product.productName }}</h3>
        <p>{{ product.description }}</p>
        <p>Price: {{ product.productPrice }}</p>
        <img class="image" src="{{ product.productImageUrl }}" width="150px">

      </li>
    </ul>
  </div>!-->

  <div class="row row-cols-1 row-cols-md-4 g-4" style="background-color: #fffad8; padding: 20px;">
    <div class="col" *ngFor="let product of productList">
      <div class="card" style="border: 1px solid #6a8a08; border-radius: 8px;">
        <img src="{{ product.productImageUrl }}" class="card-img-top" alt="..." height="280px" style="object-fit: cover;">
        <div class="card-body">
          <h5 class="card-title" style="color: #6a8a08;">{{ product.productName }}</h5>
          <!-- <p class="card-text">{{ product.productDescription }}</p> -->
          <p class="price" style="font-weight: bold; color: #d95d39;">{{ product.productPrice | currency: 'EGP' }}</p>

          <adding-cart (addProductToCart)="addToCart(product)" [isLoading]="product.isAddToCartApiCallInProgress">
          <button class="btn btn-success mt-3"  style="background-color: #6a8a08; border-color: #6a8a08;">Add to cart</button>
        </adding-cart>

        </div>
      </div>
    </div>
  </div>



